/*
 * General/Utility Styles
*/

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}
body{
  margin: 0;
  background: rgb(245, 245, 245);
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 0.875rem;
  color: rgb(86, 90, 92);

}

.logo{
  border-right: 1px solid black;
  height: 85px;
  width: 20%;
}

.hero img{
  width:100%;
}

/*.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
*/


/*
* Headings
*/

h1{
  font-size: 22px;
  color: #666A6C;
}



.button {
  background: rgb(255, 89, 95);
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 0.75rem 5rem;
  border-bottom: 1px solid rgb(227, 25, 29);
  border-radius: 2px;
  width: 95%;
  margin: 0 auto;
}

/*
* Info
*/
.info{
  background: #FFF;
  text-align: center;
  padding: 25px;
}

.info h1{
  margin-bottom: 5px; 
}

.info .profile {
 margin-bottom: 24px;
}

.info .owner-profile img{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 6px;
}

.info h2.relationship, .info h2.name{
  color: #909597;
  margin-bottom:.1875rem;
}
.info h2.name{
  font-weight: bold;
}

.clearfix:after {
 content: "";
 display: table;
 clear: both;
}

.info .icons{
  float: left;
  width:  33.3%;
}

.info .booking h2{
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 13px;
}

.info h2.price time {
 font-size: 16px;
}

.info .location{
  margin-bottom: 20px;
}

.info .icons img{
  height: 30px;
  margin-bottom: 3px;
}


@media only screen and (min-width: 1060px) {


  .container{
    width: 1040px;
    margin: 0 auto;
  }
   .info h1 {
 margin-bottom: 11px;
 }

 .info h2 {
 margin-bottom: 3px;
 }

  
  .info .profile{
    width: 660px;
  }

  .info .booking{
    width: 380px;
     border-right: 1px solid #DCE0E0;
  }


  .column{
    float: left;
  }

  .info .owner-profile{
    width: 20%;
  }
 
  .info .pet-details{
    width: 80%;
    text-align: left;
  }

   .info .pet-details .icons {
    width: inherit;
 
 margin-right: 50px;
 }

 .info .pet-details .icons img {
 display: block;
 margin: 3px auto 3px;
 }
  

  
 
}




















